// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


// INDIGENIUS COLORS:
$dark_green: #797D62;
$light_green: #9B9B7A;
$pink: #D9AE94;
$dark_yellow: #FFCB69;
$light_yellow: #F1DCA7;
$orange: #D08C60;
$brown: #997B66;
$brown-black: #1c1a17; 
$off-white: #fffffa;

//RGBA
$transparent-green: rgba(155, 155, 122,.5)

