// Specific CSS for your home-page

html {
  min-height: 100%;
  width: 100%;
  position: relative;
}

* {
  margin: 0px;
  padding: 0px;
}



body {
  background-color: $off-white;
  text-align: center;
  font-family: $indi-font;
}

.home-body{
  background-image: url('backgound.png');
  background-size: contain;
  opacity: 50%;
}

#arrow {
  position: fixed;
  text-align: end;
  bottom: 0px;
  right: 20px ;
  padding: 20px;
  color: $dark_yellow;
  font-size: 20px;
}
