// Specific CSS for your home-page
html {
  min-height: 100%;
  width: 100%;
  position: relative;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: $off-white;
  text-align: center;
  font-family: $indi-font;
}

#arrow {
  position: fixed;
  text-align: end;
  bottom: 0px;
  right: 20px ;
  padding: 20px;
  color: $dark_yellow;
  font-size: 20px;
}

.grid{
  display: grid;
  background-color: $brown-black;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 2cm;



  
}

.grid_item {
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  font-size: 20px;
  //text-align: center;
  width: 100%;
  height: 300px;
  color: #f1dca7;

}

.grid_item > * {
  text-align: center;
  padding-top: 50%;

}

.grid-ecom {
  display: grid;
  background-color: none;
  grid-template-columns: 1fr 1fr 1fr;
   margin: 1cm;
   padding: 2cm; 
  align-content: center;
  

  }


.card_img {

  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  padding: 5px;
  font-family: $indi-font;
  font-size: 30px;
  text-align: center;
  width: 100%;
  height: 450px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $indi-font;
  }

