.indi-carousel {
    width: 600px !important;
    height: 300px !important;
    margin: auto;
    border-radius: 5px;

    img {
        width: 600px !important;
        height: 300px !important;
        border-radius: 5px;
    }
}

.cart {
    color: $brown;
    display: block;
    text-align: center;
    padding-top: 50px;
    width: 100%;

    h3 {
        text-align: right;
        border-bottom: 1px solid $light_yellow;
        padding-bottom: 10px;
    }
}

.cart-item {
    display: flex;
    align-content: center;
    text-align: left;
    margin: auto 200px;
    border-bottom: 1px dashed $brown;
    
    img {
        width:100px;
        height: 100px;
        background-size: cover;
        margin: 10px ;
        border-radius: 5px;
    }

    .info {
        display: flex;
        justify-content: space-between;
        line-height: 1;
        width: 100%;
        margin: 10px ;
    }

    .simple_form {
        width: 150px;
    }

}

.sub-total {
    color: $dark_green;
    background-color: $pink;
    width: 150px;
    padding: 5px;
    text-align: center;
}

.edit-cart-hide {
    display: none;
}

.cart-form-style {
    display: none;
    width: 15%;
    margin-left: 80%;
    padding: 0px;
}


.cart-actions{
    display: flex;
    justify-content: flex-end;
    
    .btn {
        width: 200px !important;
        margin-left: 10px;
    }
}