Hi! I'm <%= @user.first_name %> <%= @user.last_name %>.</h1>

<%= @user.about %>

<% if current_user.avatar.attached? %>
    <%= cl_image_tag(@user.avatar.key) %>
<% else %>
    <img src="https://res.cloudinary.com/cassiaveliz/image/upload/v1599165302/user_none.png" >
<% end %>
