 <h1 class="text-center title">Here are your Indigenius Orders </h1>
 
<div class="container">
 
  <% @orders.each do |order|%>
     <p>ID: <%= "#{order.id}" %></p>
     <p>Status: <%= "#{order.status}" %></p>
  <%end%>  
</div>

<%= link_to "back", items_path %>
