<div class="indigenius-container">

  <h1>Here are your Indigenius Orders</h1>

  <h2>Pending Orders</h2>
  <%= render 'orders_display', orders: @order_pending %>

  <h2>Confirmed Orders</h2>
  <%= render 'orders_display', orders: @order_confirmed %>

  <h2>Cancelled Orders</h2>
  <%= render 'orders_display', orders: @order_cancelled%>

</div>

<%= link_to "back", items_path %>
