<%# --------------------------------------- %>
<%# first page showing call to action %>
<%# --------------------------------------- %>
<div class="window vh-100 amazonian-background">
  <div class="container home-container text-light ml-5 ">
    <h1>Indigenius is a global community changing the way indigenous cultures are preserved and how artisans are paid for their product</h1>
  </div>
</div>
<%# -----------------end------------------- %>


<%# --------------------------------------- %>
<%# Second page showing Workshops %>
<%# --------------------------------------- %>
<div class="window vh-100">
  <div class="workshop-home-container">
    <div class="workshop-home-blurb">
      <h1>Workshops</h1>
    </div>
  </div>
</div>
<%# -----------------end------------------- %>

<%# --------------------------------------- %>
<%# Third page showing Products %>
<%# --------------------------------------- %>
<div class="window vh-100">
  <div class="product-home-container">
    <div class="product-home-blurb">
      <h1>Products</h1>
    </div>
  </div>
</div>
<%# -----------------end------------------- %>


<%# --------------------------------------- %>
<%# Fourth page displaying the map %>
<%# --------------------------------------- %>
<div class="window vh-100 word-background">
  <div class="container home-container">
    <h1>Explore our locations</h1>
  </div>
</div>
<%# -----------------end------------------- %>


<%# --------------------------------------- %>
<%# Last page with a call to action for vendors%>
<%# --------------------------------------- %>
<div class="window vh-100">
  <div class="container home-container">
    <h1>Do you have a product or workshop you are trying to sell?</h1>
    <p>Join the largest global community of ethically produce indigenous savuios faire</p>
  </div>
</div>
<%# -----------------end------------------- %>
