<div class="container">
    <div class="cards">
      <% @items.each do |item| %>
        <%= link_to item do %>
          <div class="card">
            <div class="card-image" 
                  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
                  url(<%= cl_image_path(item.images.first.key)%>)">
            </div> 
            <div class="card-info">
              <div class="item-name">
                <%= item.name %>
              </div>
              <div class="item-user">
                <%= item.user.first_name %>
              </div>
            </div>
          </div>
        <% end %>  
      <% end %>
    </div>
</div>
