
<div class="container">
  <h1>Items</h1>
    <div class="cards">
      <% @items.each do |item| %>
        <%= link_to item do %>
          <div class="card">
            <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url()">
            </div> 
            <div class="card-info">
              <div class="item-name">
                <%= item.name %>
              </div>
              <div class="item-user">
                <%= item.user.first_name %>
              </div>
            </div>
          </div>
        <% end %>  
      <% end %>
    </div>
</div>

      




