
<div class="container">
  <h1>All Items</h1>
  <table>
    <thead>
      <tr>
        <th><p>Name</p></th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td>
            <% item.images.each do |image| %>
                <%= image_tag(image, width: 100, height: 100) %>
                <%# <%= image_tag(image) %>
            <% end %> 
          </td>
          <td><%= item.name %></td>
          <td><%= link_to 'Show', item %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
