<div class="indigenius-container">

  <div class="listing">
    <h3>Here are your Items</h3>
    <br>
    <h2>Worskshops</h2>
    <%= render 'listing_display', items: @workshops %>
    <br>
    <%= link_to 'Add New Worshop', new_item_path(true), class: "" %>
    <br>
    <br>
    <h2>Products</h2>
    <%= render 'listing_display', items: @products %>
    <br>
    <%= link_to 'Add New Product', new_item_path(false), class: "btn" %>
  </div>

</div>