<% provide(:title, "Listings") %>

<div class="indigenius-container">

  <h1>Here are your Items</h1>

  <h2>Worskshops</h2>
  <%= render 'listing_display', items: @workshops %>
  <%= link_to 'Add New Worshop', new_item_path(true), class: "link" %>

  <h2>Products</h2>
  <%= render 'listing_display', items: @products %>
  <%= link_to 'Add New Product', new_item_path(false), class: "link" %>

</div>
