<% provide(:title, "Listings") %>

<div class="container" style="margin-bottom: 150px;">
<div class="indigenius-container">

  <h1>Here are your Items</h1>
  <br>
  <h2>Worskshops</h2>
  <%= render 'listing_display', items: @workshops %>
  <%= link_to 'Add New Worshop', new_item_path(true), class: "btn" %>
  <br>
  <h2>Products</h2>
  <%= render 'listing_display', items: @products %>
  <%= link_to 'Add New Product', new_item_path(false), class: "btn" %>

</div>
</div>
