.indi-btn {
  background: $light_green !important;
  border-radius: 10px;
  font-size: 17px;
  color: $light_yellow;
  letter-spacing: 1px;
  padding: 5px 10px;
  width: 100%;
  box-shadow: 0 2px $brown;
}

.indi-btn:hover {
  background-color: $dark_green !important;
  color: $light_yellow;
}

.indi-btn:active {
  background-color: $dark_green !important;
  color: $dark_yellow;
  box-shadow: 0 1px $brown-black;
  transform: translateY(2px);
}

.indi-navegation {
  // background: $pink !important;
  // border-radius: 10px;
  font-size: 17px;
  color: $pink;
  letter-spacing: 1px;
  // padding: 10px 15px;
  // width: 100%;
  // box-shadow: 0 2px $brown;
  // margin-bottom: 100pxx;
}

.indi-navegation:hover {
  color: $light_green
}

.btn-search {
  font-size: 25px;
  color: #F1DCA7;
  letter-spacing: 1px;
  padding: 0px 0px;
}