.button-square-green {
  background: #9B9B7A !important;
  border-radius: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 27px;
  color: #F1DCA7;
}