.indi-btn {
  background: $light_green !important;
  border-radius: 10px;
  font-size: 17px;
  color: $light_yellow;
  letter-spacing: 1px;
  padding: 5px 10px;
  width: 100%;
  box-shadow: 0 2px $brown;
}

.indi-btn:active {
  background-color: $dark_green !important;
  box-shadow: 0 1px $brown-black;
  transform: translateY(2px);
}