.indigenius-container{
  // background-color: $light_yellow;
  // border-radius: 10px;
  padding: 3rem;
  margin: 0px 100px 150px 100px;
  display: flex;
}

.container {
  // margin-bottom: 3rem; <<--- This is fucking up with the margin
  padding-bottom: 3rem;
}