.indigenius-container{
  // background-color: $light_yellow;
  // border-radius: 10px;
  padding: 3rem;
  margin: 0px 100px 150px 100px;
  display: flex;
}

.container {
  // margin-bottom: 3rem; <<--- This is fucking up with the margin
  padding-bottom: 3rem;
}

// ======================
// homepage containers
// ======================


.home-container{
  background-color: rgba(155, 155, 122,0.7);
  padding-top: 20px;
  font-family: $indi-font;
  border-radius: 10px;
  margin-bottom: 100px;
}

.window { 
  align-items: center;
  display: flex;
  justify-content: center;
}

.item-window { 
  height: auto;
  width: 100%;
}


.amazonian-background { 
  background-image: url('indibanner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}


.workshop-home-container {
  margin-right: 50px; 
  margin-left: 50px;
  width: 80%;
  background-color: rgba(155, 155, 122,0.7);
  font-family: $indi-font;
  display:flex;
  justify-content: center;
  height: 550px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 250px;
  margin-bottom: 300px;
}

.workshop-home-blurb{ 
  align-items: center;
  background: #f1dca7;
  color: #997b66;  
  width: 40%;
  font-size: 20px;
  padding: 20px 40px;
  margin-left: 30px;
  height: auto;
}

.workshop-home-blurb p {
  text-align: center;
}

.workshop-image {
  background-image: url('Product 1.jpg');
  background-size: cover;
  width: 600px; 
  height: 800px;
  position: relative;
  top: -50px;
}

// ======================
// Product Panel Containers
// ======================

.product-home-container {
   margin-right: 50px; 
  margin-left: 50px;
  width: 80%;
  background-color: rgba(155, 155, 122,0.7);
  font-family: $indi-font;
  display:flex;
  justify-content: center;
  height: 550px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 450px;
  margin-bottom: 300px;
}

.product-home-blurb {
  background: #f1dca7;
  color: #997b66;  
  width: 50%;
  font-size: 20px;
  padding: 20px 40px;
 margin-right: 200px;
}

.product-image {
  background-image: url('africanmask.jpg');
  background-size: cover;
   width: 400px; 
  height: 600px;
  position: relative;
  top: -100px;

}

// ======================
// Browse Button 
// ======================

.browse {
  font-size: 18px;
  font-weight: lighter;
  padding: 15px 20px;
  background: #997b66;;
  border: 2px solid #997b66;
  border-radius: 20px;
  width: 60%;
  margin-top: 2px;
  color: #f1dca7;
  
}

.grid-map-container {
  display: flex;
  width: 90%;
  margin: 2rem auto;
}