
footer {
  background-color: #D9AE94;
  width: 100%;
  height: 7vh;
  font-size: 1rem;
  margin-bottom: 0px;
  /* padding: 0rem; */
  margin-top: 1rem;
  clear: both;
  position: absolute;
  bottom: -8vh;
}

.footer-items {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-copyright {
  align-self: center;
  text-align: end;
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: $brown;
  opacity: 0.4;
  text-decoration: none;
  font-size: 1rem;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}


@media (min-width: 100px) and (max-width: 575px) {
  footer {
    height: 13vh;
    font-family: $indi-font;
    font-size: 0.8rem;
    .footer-copyright {
    align-self: center;
    justify-content: right;
    text-align: end;
    }
  }
}

@media (min-width: 576px) and (max-width: 1000px) {
  footer {
    height: 12vh;
    font-family: $indi-font;
    font-size: 1rem;
    .footer-copyright {
    align-self: center;
    justify-content: right;
    text-align: end;
    }
  }
}
