.image-carousel {
  width: 80%;
  margin: 2rem auto;
  overflow: hidden;
  box-shadow: 0px 15px 25px -4px rgba(30,30,60,0.25);
  border-radius: 5px;
}

.carousel {
  .carousel-item{
    img {
      max-height: 600px !important;
      min-width: auto;
      object-fit: cover;
    }
  } 
  width: auto;
  overflow: hidden;
}