.indi-info {
    color: $brown;
    width: 40%;
    margin-right: 50px;
    text-align: justify;

    h1 {
        margin-bottom: 20px;
    }
}

.indi-reviews {
    border-top: 2px solid $light_yellow;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    
    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: $light_yellow dotted 2px;
        margin: 10px ;
    }
    
    p {
        line-height: 1;
        margin: 0px;
    }
}

.indi-images {
    background-color: $light_yellow;
    width: 60%;
    border-radius: 10px;
    padding: 20px;
}

.indi-price {
    background-color: $light_green;
}