.map-window {
 height: 100vh;
 width: 100%;
margin-top: 10px;
}

.word-background {
  background-image: url('background.png');
  background-size: contain;
  border: 2px solid $off-white;
  margin-top: 10px;
  // opacity: 50%;
}


#map{
  

  max-width: 100%;
  background-color: #fdf2e2;
  margin:  auto;
  padding-top: 3px;

}

.pop-style.mapboxgl-popup{
  max-width: 200px;
  background-color: #9b9b7a;
  border-radius: 5px;
}

.pop-style .mapboxgl-popup-content {
  background: #9b9b7a;
  background-color: #F1DCA7; 
  border-radius: 5px;
  border: solid 10px #9b9b7a;
  overflow: hidden;
  transition: all 0.5s ease;
  box-shadow: 0px 15px 25px -4px rgba(30,30,60,0.25);
}




.styling-popup {

  background-color:#F1DCA7;
  font-family: banhschrift;
  border-radius: 5px;
}


.pop-style img {
border-radius: 5px;

}


.pop-style h3 {

  font-family: banhschrift;
  font-size: 19px;
}




//map on index page
.map-items-index{
  width: 36%;
  height: 100vh;
  position: sticky !important;
  top: 0 !important;
  margin-left: 2rem;
}