#navbar-brand {
  color: $light-yellow;
  text-align: left;
  font-size: 45px;
  line-height: 1;
  margin: 19px;
  margin-left: 5%;
}

.navbar {
  color: $dark_green;
  // margin-bottom: 2rem;
  background-color: transparent;
}

.navbar-collapse {
  background-color: transparent;
  border-radius: 30px;
  padding: 5px;
}

.navbar-nav{
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-item a {
  padding: 0px 10px;
  font-size: 1.6rem;
  color: $pink;
}

.nav-item a:hover {
  color: $brown-black;
}

.nav-item a:active {
  color: $orange;
}

.navbar-indigenius {
  justify-content: space-between;
  // background: $off-white;
  background: transparent;
  // border-bottom: 2px solid $brown-black;
}

.navbar-indigenius .navbar-collapse {
  flex-grow: 0;
  margin-right: 5%;
  // width: 27rem;
}

.navbar-indigenius .navbar-brand img {
  width: 200px;
}
 
.dropdown-menu {
  background-color: $light-yellow;
  border-radius: 10px;
  border: 0px;
  overflow: hidden;
  opacity: 100%;
  margin-top: 10px;
}

.dropdown-item {
  color: $dark_green;
  font-size: 1.2rem !important;
}

.dropdown-item:hover {
  background-color: $pink;
}

.dropdown-item:active {
  color: $orange;
}

