.navbar-indigenius {
  justify-content: space-between;
  background: black
}

.navbar-indigenius .navbar-collapse {
  flex-grow: 0;
}

.navbar-indigenius .navbar-brand img {
  width: 200px;
}
 
// This islogo 

