.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.dropdown-menu {
  background-color: #F1DCA7;
  border-radius: 20px;
  overflow: hidden;
}

.dropdown-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  color: #797D62;
}

.dropdown-item:hover {
  background-color: #f0e2bf;
}

.dropdown-item:active {
  background-color: #f0e2bf;
}