.workshop-tag, .product-tag {
  font-size: 0.8rem;
  font-weight: bold;
  text-align: left;
  width: 86px;
  padding: 0.2rem 0.8rem;
  border-radius: 28px 0px 0px 28px;
  position: relative;
  bottom: -70px;
  left: 55px;
  box-shadow: 0px 15px 25px -4px rgba(30, 30, 60, 0.25);
  background-color: $pink;
}

.workshop-tag {
  background-color: $pink;
}

.product-tag {
  background-color: $dark_yellow;
}