.upload-photo {
padding: 16px 24px;
cursor: pointer;
background: #eedfba;;
border-radius: 10px;
width: 100%;
text-align: center;
}

.upload-photo:hover {
  background-color: $dark-yellow;
}

#photo-preview {
  border-radius: 20px;
  margin-bottom: 10px;
}
