<p id="notice"><%= notice %></p>
<% @review.rating.times do %>
тнР
<% end %>
<%= @review.content %>
<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', item_reviews_path(@review.item) %>
